<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <meta name="_csrf" th:content="${_csrf.token}" />-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}" />-->
    <title>Task Manager</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/ajax-update.js"></script>
</head>
<body>
<div layout:fragment="content" class="mt-3">
    <button class="btn btn-primary btn-sm mb-2" id="addTask">Create Task</button>
    <div class="table-responsive">
        <table class="table table-light align-middle" id="taskTable">
            <thead>
                <tr class="my-vertical-align-center">
                    <th scope="col" class="col-1">Done</th>
                    <th scope="col" class="col-2">Name</th>
                    <th scope="col" class="col-4">Description</th>
                    <th scope="col" class="col-1">Created</th>
                    <th scope="col" class="col-1">Due Date</th>
                    <th scope="col" class="col-1">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${tasks}" class="task-row" th:data-id="${task.id}" th:data-dateCreated="${task.dateCreated}">
                    <td>
                        <div>
                            <label>
                                <input type="checkbox" class="task-completed-checkbox">
                            </label>
                        </div>
                    </td>
                    <td th:text="${task.name}"></td>
                    <td>
                        <div th:text="${task.description}" class="description-column">

                        </div>
                    </td>
                    <td th:text="${task.dateCreated}"></td>
                    <td th:text="${task.dueDate}"></td>
                    <td>
                        <div class="controls-container">
                            <button class="control-btn editBtn" th:data-id="${task.id}">
                                <img src="/images/edit.svg" alt="edit" title="Edit">
                            </button>
                            <button class="control-btn deleteBtn" th:data-id="${task.id}">
                                <img src="/images/cross.svg" alt="delete" title="Delete">
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center add-task-modal-box" id="taskFormDivBox">
        <div class="col-md-6 add-task-modal" id="taskFormDiv">
            <div class="card">
                <div class="card-header">
                    <p>Task Input Form</p>
                    <img src="/images/cross.svg" alt="close" title="Close" class="close-form" id="taskFormDivCloseBtn">
                </div>
                <div class="card-body">
                    <form action="#" method="POST" id="taskForm">

<!--                            This is an invisible input field to store the task id-->
                        <input type="hidden" name="id" id="taskId">
<!--                            This is an invisible input field to store the task created date-->
                        <input type="hidden" name="dateCreated" id="taskDateCreated">

                        <div class="form-group">
                            <label for="taskName">Task Name:</label>
                            <input type="text" class="form-control" id="taskName" name="name" required>
                            <span class="error" id="nameError"></span>
                        </div>
                        <div class="form-group pt-1 pb-1">
                            <label for="taskDescription">Task Description:</label>
                            <textarea class="form-control" id="taskDescription" name="description" rows="3" maxlength="750" oninput="updateCharacterCount()"></textarea>
                            <span id="characterCount">0 / 750</span>
                            <span class="error" id="descriptionError"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="taskDueDate">Due Date:</label>
                            <input type="date" class="form-control" id="taskDueDate" name="dueDate" required>
                            <span class="error" id="dueDateError"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>