<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Manger</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body class="bg-body">
    <div class="container">
        <button class="btn btn-primary btn-sm mt-2 mb-2" id="addTask">Create Task</button>
        <div class="table-responsive">
        <table class="table table-light align-middle">
            <thead>
                <tr class="my-vertical-align-center">
                    <th scope="col" class="col-1">Id</th>
                    <th scope="col" class="col-2">Name</th>
                    <th scope="col" class="col-3">Description</th>
                    <th scope="col" class="col-2">Date Created</th>
                    <th scope="col" class="col-1">Due Date</th>
                    <th scope="col" class="col-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.description}" class="description-column"></td>
                    <td th:text="${task.dateCreated}"></td>
                    <td th:text="${task.dueDate}"></td>
                    <td>
                        <form th:action="@{/tasks/delete}" method="post">
                            <input type="hidden" name="id" th:value="${task.id}">
                            <button type="submit" class="btn btn-sm btn-danger">Delete Task</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="row justify-content-center" id="task-input-field">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Task Input Form
                    </div>
                    <div class="card-body">
                        <form action="#" th:action="@{/tasks/submit-task}" th:object="${task}" method="POST">
                            <div class="form-group">
                                <label for="taskName">Task Name:</label>
                                <input type="text" th:field="*{name}" class="form-control" id="taskName" name="taskName" required>
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            </div>
                            <div class="form-group">
                                <label for="taskDescription">Task Description:</label>
                                <textarea th:field="*{description}" class="form-control" id="taskDescription" name="taskDescription" rows="3" maxlength="500""></textarea>
                                <span id="characterCount">0 / 100</span>
                                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label for="dueDate">Due Date:</label>
                                <input type="date" th:field="*{dueDate}" class="form-control" id="dueDate" name="dueDate" required>
                                <span th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>