<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <meta name="_csrf" th:content="${_csrf.token}" />-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}" />-->
    <title>Task Master</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/scripts/form-crud-ajax.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
<div layout:fragment="content" class="mt-3">
    <button class="btn btn-primary btn-sm mb-2" id="addTask">Create Task</button>
    <button class="btn btn-primary btn-sm mb-2" id="addCategory">Create Category</button>
    <div class="table-responsive">
        <table class="table table-light align-middle" id="taskTable">
            <thead>
                <tr class="my-vertical-align-center">
                    <th scope="col" data-sort="name">Name</th>
                    <th scope="col" data-sort="dueDate">Due Date</th>
                    <th scope="col" data-sort="dueDate">Categories</th>
                    <th scope="col" data-sort="dueDate">Priority</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${tasks}" class="task-row" th:data-id="${task.id}">
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.dueDate}"></td>
                    <td th:text="${task.categories}"></td>
                    <td th:text="${task.priority}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="taskFormModal" tabindex="-1" aria-labelledby="taskFormModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content add-task-modal" id="taskFormModalInner">
                <div class="modal-header">

                    <!-- Set in js -->
                    <h5 class="modal-title" id="taskModalLabel"></h5>
                    <button type="button" class="btn-close close-form" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="taskForm">
                        <!-- Hidden Fields -->
                        <input type="hidden" name="id" id="taskId">
                        <input type="hidden" name="dateCreated" id="taskDateCreated">


                        <!-- Task Name -->
                        <div class="form-group">
                            <label for="taskName">Task Name:</label>
                            <input type="text" class="form-control" id="taskName" name="name" placeholder="Name" required>
                            <span class="error" id="nameError"></span>
                        </div>

                        <!-- Task Description -->
                        <div class="form-group">
                            <label for="taskDescription">Task Description:</label>
                            <textarea class="form-control"
                                      id="taskDescription"
                                      name="description"
                                      rows="3" maxlength="750"
                                      oninput="updateCharacterCount()"
                                      placeholder="Description">
                            </textarea>
                            <span id="characterCount">0 / 750</span>
                            <span class="error" id="descriptionError"></span>
                        </div>

                        <!-- Task Due Date -->
                        <div class="form-group mb-3">
                            <label for="taskDueDate">Due Date:</label>
                            <input type="date" class="form-control" id="taskDueDate" name="dueDate" required>
                            <span class="error" id="dueDateError"></span>
                        </div>

                        <!-- Task Categories -->
                        <div class="form-group mb-3">
                            <label for="taskCategories">Categories:</label>
                            <select class="form-control"
                                    id="taskCategories"
                                    data-placeholder="Categories"
                                    name="categories"
                                    multiple>
                            </select>
                            <span class="error" id="categoriesError"></span>
                        </div>



                        <!-- Task Priority -->
                        <div class="form-group mb-3">
                            <label for="taskPriority">Priority:</label>
                            <input type="text" class="form-control" id="taskPriority" name="priority" placeholder="Priority" required>
                            <span class="error" id="taskPriorityError"></span>
                        </div>

                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary w-100" id="taskSubmitBtn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="categoryModalLabel">Create Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="categoryForm">
                        <div class="form-group">
                            <label for="categoryName">Category Name:</label>
                            <input type="text" class="form-control" id="categoryName" name="name" required>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>